body {
  font-family: 'Gill Sans';
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px
}
.cover {
  background-image: url(assets/background.png);
  background-size: cover;
}

#intro {
  height: calc(100vh - 50px);
}
